body{

background:black;
color:white;
font-family:monospace;
text-align:center;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:40px 40px;

}

.panel{

border:1px solid cyan;
padding:10px;
margin:10px;
background:#111;

}

button{

background:black;
border:1px solid cyan;
color:cyan;
padding:10px;
margin:5px;

}