body{
background:#222;
color:white;
text-align:center;
font-family:Arial;
}

#mapa{
width:600px;
height:400px;
margin:auto;
background:#444;
position:relative;
border:3px solid yellow;
}

.maquina{
width:80px;
height:80px;
background:url("../img/maquina.png");
background-size:cover;
position:absolute;
left:50px;
top:150px;
}

.cinta{
width:60px;
height:60px;
background:url("../img/cinta.png");
background-size:cover;
display:inline-block;
}

.caja{
width:40px;
height:40px;
background:url("../img/caja.png");
background-size:cover;
position:absolute;
left:200px;
top:170px;
}